 h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-image: url("sunburst-background-wallpaper_1284-3494.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
 
}
 
